* {
    box-sizing: border-box;
}

/* Style the body */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

header{ 
    background-color:#679B9B;
    padding: 10px;
    text-align: center;
    font-size: 15px;
    color: white;
}


.side {
    -ms-flex: 50%; /* IE10 */
    padding: 50px;
    text-align: center;
}

.img {
    width: 100%;
    padding: 20px;
    text-align: center;
}

#about-me{
    margin: 0px;
    padding: 5px;
    background-color:#FFEADB;
}

#content{
    background-color:#637373;
    margin: 10px;
    padding: 5px;
    color: white;
    font-size: 20px;
    text-align: center;
}

#content1{
    background-color:#637373;
    margin: 10px;
    padding: 5px;
    color: white;
}

#content2{
    background-color:#637373;
    margin: 10px;
    padding: 5px;
    color: white;
}

#footer {
    background-color: #FFEADB;
    text-align: center;
}



