<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Nabila's Profile</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/stylesheet.css' %}">
    </head>

<body>
    <header>
        <div class="side">
            {% load static %}
            <div class="img" style="height:250px;"><img src="{% static 'foto/nabila.JPG'%}" width="220px" height="220px" alt="foto_nabila"></div>
            <h2>About</h2>
            <p>Hi, my name is Nabila Azzahra, you can call me Nabila. I'm a second year student at Faculty of Computer Science, Majoring in Information System at
                University of Indonesia. I liked to learn about something new that i never find before. I have a dream to have my own clothing brand. 
            </p>
        </div>
    </header>

    <article id="about-me">
        <article id="content">
            <p>Nabila Azzahra</p>
            <p>1906399316</p>
            <p>Class of 2019</p>
            <p>Information System, Faculty of Computer Science, University of Indonesia</p>
        </article>
        <article id="content2">
            <h2>Education</h2>
            <table style="width:100%">
                <tr>
                    <td>2007-2013</td>
                    <td>SDN Percobaan Padang</td>
                </tr>
                <tr>
                    <td>2013-2016</td>
                    <td>SMPN 1 Padang</td>
                </tr>
                <tr>
                    <td>2016-2019</td>
                    <td>SMAN 1 Padang</td>
                </tr>
                <tr>
                    <td>2019-Now</td>
                    <td>University of Indonesia</td>
                </tr>
            </table>
        </article>
        <article id="content1">
            <h2>Hobby or Interest</h2>
            <p>I loved to dancing to refresh my mind. But, lately i hane new hobby that I'm currently exploring, which is sewing.
                I'm also interested in studying business.
            </p>
        </article>
        <article id="content2">
            <h2>Experience</h2>
        </article>

        <footer id="footer">
            <div class="socialmedia">
                <a href="http://instagram.com/nabiillaazz">
                {% load static %}
                <img style="margin:10px" src="{%static 'foto/instagram.JPG' %}" width="50" height="50" alt="Instagram"></a>
                <a href="linkedin.com/in/nabila-azzahra-2957861a4">
                {% load static %}
                <img style="margin:10px" src="{%static 'foto/linkedin.JPG' %}" width="70" height="30" alt="LinkedIn"></a>
                {% load static %}
                <img style="margin:10px" src="{%static 'foto/twitter.JPG' %}" width="50" height="50" alt="twitter"></a>
            </div>
            <p>© Copyright 2020 nabila.</p>
        </footer>
    </article>
      
     
    
    
</body>
</html>